.footer{
    float: left;
    height: 10em;
    font-size: 0.8rem;
    background: #2e2f34;
    color: lightgrey;
    line-height: 1.3em;
    width: 100%;
    text-align: center;
    position: relative;
    clear: both;
    bottom: 0;
    left: 0;
}
.footer-m{
    text-align: left;
    width: 80%;
    height: 60%;
    margin: 1em auto 0;
}
.row{
    width: 80%;
    height: 100%;
    margin-left: 20%;
}
.col{
    width: 25%;
    display: block;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5em;
}
.col strong{
    color: white;
}
.col img{
    width: 3.5em;
    height: 3.5em;
    margin-left: 50%;
}
.copyright{
    margin-top: 2em;
}
.footer-b{
    position: relative;
    width: 100%;
    height: 1em;
    margin-top: -0.5em;
}
@media (max-width: 980px) {
    .footer{
        font-size: 0.5rem;
    }
}
